<div class="row">
    <div class="col-md-9">
        <div class="flex_between">
            <div class="d-flex align-items-center title_wrapper">
                <h2 class="page_title">Notification List</h2>
                <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="bold"><span class="material-icons">border_all</span></mat-button-toggle>
                    <mat-button-toggle value="italic"><span class="material-icons">format_list_bulleted</span></mat-button-toggle>
                </mat-button-toggle-group> -->
            </div>
            <button mat-mini-fab color="primary" ><span class="material-icons">add</span></button>
        </div>
        <div class="card_wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <mat-card>
                        <span class="number">1</span>
                        <h2>#prodid#123</h2>
                        <h3>Berkeley Miners</h3>
                        <span>Controller : 1</span>
                        <span>Model : BA/M-M123</span>
                        <span>192:168:0:1</span>
                        <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </mat-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <mat-card>
                        <span class="number">2</span>
                        <h2>#prodid#123</h2>
                        <h3>Berkeley Miners</h3>
                        <span>Controller : 1</span>
                        <span>Model : BA/M-M123</span>
                        <span>192:168:0:1</span>
                        <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </mat-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <mat-card>
                        <span class="number">3</span>
                        <h2>#prodid#123</h2>
                        <h3>Berkeley Miners</h3>
                        <span>Controller : 1</span>
                        <span>Model : BA/M-M123</span>
                        <span>192:168:0:1</span>
                        <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </mat-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <mat-card>
                        <span class="number">4</span>
                        <h2>#prodid#123</h2>
                        <h3>Berkeley Miners</h3>
                        <span>Controller : 1</span>
                        <span>Model : BA/M-M123</span>
                        <span>192:168:0:1</span>
                        <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="additional-sidebar">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Berkeley Miners
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                    <div class="company_names">
                        <button mat-button>Item 1</button>
                        <button mat-button>Item 2</button>
                        <button mat-button>Item 3</button>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Blender mine
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="company_names">
                        <button mat-button>Item 1</button>
                        <button mat-button>Item 2</button>
                        <button mat-button>Item 3</button>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Boaring Co
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="company_names">
                        <button mat-button>Item 1</button>
                        <button mat-button>Item 2</button>
                        <button mat-button>Item 3</button>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Hoarder Co
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="company_names">
                        <button mat-button>Item 1</button>
                        <button mat-button>Item 2</button>
                        <button mat-button>Item 3</button>
                    </div>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
    </div>
</div>

