<div class="title_wrapper">
    <h2 class="page_title">Notification Settings</h2>
</div>
<div class="card_wrapper">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <mat-card>
                <span class="number">1</span>
                <h3>Berkeley Miners</h3>
                <span>Time Interval : 14</span>
                <span>Reason : idle</span>
                <mat-slide-toggle color="primary"></mat-slide-toggle>
            </mat-card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <mat-card>
                <span class="number">2</span>
                <h3>Berkeley Miners</h3>
                <span>Time Interval : 14</span>
                <span>Reason : idle</span>
                <mat-slide-toggle color="primary"></mat-slide-toggle>
            </mat-card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <mat-card>
                <span class="number">3</span>
                <h3>Berkeley Miners</h3>
                <span>Time Interval : 14</span>
                <span>Reason : idle</span>
                <mat-slide-toggle color="primary"></mat-slide-toggle>
            </mat-card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <mat-card>
                <span class="number">4</span>
                <h3>Berkeley Miners</h3>
                <span>Time Interval : 14</span>
                <span>Reason : idle</span>
                <mat-slide-toggle color="primary"></mat-slide-toggle>
            </mat-card>
        </div>
    </div>
</div>