<mat-card class="chart_card">
    <div class="mat-header">
      <div class="title_wrapper">
        <h2 class="page_title">Machine Running Time</h2>
      </div>
      <mat-card-subtitle>
          <span class="circle running active"></span>
          <span class="circle stop"></span>
          <span class="circle idle"></span>
          <span class="circle no-data"></span>
      </mat-card-subtitle>
    </div>
    <mat-card-content>
        <div class="row no-gutters">
            <div class="col-md-4">
                <mat-card class="card red">
                    <h2 class="style-2">5hrs <span>15min</span></h2>
                    <label>Previous day</label>
                </mat-card>
            </div>    
            <div class="col-md-4">
                <mat-card class="card green">
                    <h2 class="style-2">5hrs <span>15min</span></h2>
                    <label>Today</label>
                </mat-card>
            </div>    
            <div class="col-md-4">
                <mat-card class="card red">
                    <h2 class="style-2">5hrs <span>15min</span></h2>
                    <label>Next day</label>
                </mat-card>
            </div>    
        </div>
        <div class="high-chart">
          <img src="../../../assets/img/Group 482.png">
        </div>
    </mat-card-content>
  </mat-card>