.page_title{
    margin-bottom: 0;
}

.spinner {
    background: rgba(0, 0, 0, 0.82);
    height: 100vh;
    opacity: 0.9;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    z-index: 99999;
}

.spinner img {
    width: 90px;
    margin-top: -130px;
}

mat-card{
    padding: 35px;
    margin-bottom: 30px;
}
mat-button-toggle-group{
    margin-left: 15px;
}
.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
mat-card-actions{
    button{
        box-shadow: none!important;
        margin-left:10px;
    }
}
mat-card-content{
    span{
        display: block;
    }
}
